<form [formGroup]="forgotPasswordForm" (ngSubmit)="setpassword()" style="width: 40%;margin-left: 35%;background-color: #eeeeee;padding: 40px;"> 
    
        
      
        <div class="row">
        <div class="col-md-12">
          <label for="email">E-mail: </label>
          <input id="email" type="text" formControlName="email" class="form-control">
          </div>
          <div class="col-md-12">
            <label for="newpassword">New-Password: </label>
            <input id="newpassword" type="password" formControlName="newpassword" class="form-control">
          </div>
          <div class="col-md-12">
            <label for="newpassword">Confirm Password: </label>
            <input id="newpassword" type="password" formControlName="newpassword" class="form-control">
          </div>
        </div>
           <div class = "row">
        <div class="col-md-4" style="margin-top: 10px;"> <input type="submit" class="btn btn-primary" value="Reset"></div>
          </div>
      
      </form>