

<div class="row">
    <div class="col-md-10">
        <ul>
            <li><a routerLink="/menu/posttweet">Post a tweet</a></li>
            <li><a routerLink="/menu/viewmytweets">View my tweets</a></li>
            <li><a routerLink="/menu/viewalltweets">View all tweets</a></li>
            <li><a routerLink="/menu/viewallusers">View All Users</a></li>
          </ul>

    </div>
    <div class="col-md-2" >
        <div><button type="submit"  routerLink=''>Logout</button></div>
    </div>
  </div>
<router-outlet></router-outlet>

